<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Error.Label_ErrorTitle</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Error.Label_ErrorTitle</h1>
        <h2>@Resources.Error.Label_ErrorContent</h2>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <h3 class="alert alert-danger">
                @ViewBag.ErrorMessage
            </h3>
        }
    </hgroup>
</body>
</html>
